#banner
	.banner_content
		%h1 File Cabinet
		%p Your life's work. Organized, as always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p  Man braid celiac four loko af salvia paleo, pour-over tumeric squid typewriter copper mug. Poutine normcore pinterest meh asymmetrical umami. Chambray fingerstache blog pour-over brooklyn, cronut etsy church-key keytar flannel artisan. Pitchfork iceland subway tile VHS. Readymade health goth street art cliche, tumblr tumeric selvage PBR&B trust fund vinyl woke selfies brooklyn. Trust fund wolf poke kogi lo-fi keytar, bitters mumblecore offal biodiesel slow-carb thundercats next level. Marfa schlitz cold-pressed, beard skateboard pop-up intelligentsia etsy.


#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now", new_user_registration_path